{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webiz Digital Agency | Bootstrap Template </title>
    <meta name="description" content="">
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
  </head>
  {% block donat %}
  {% endblock %}
  <body>
    <!-- Navbar Menu  ---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="">
           <img src="{% static 'images/webiz-logo.png' %}" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Додому <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Сервіси</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Про мене</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Відгуки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Контакти</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-success">{{ user.username }}</button>
                    <p><a href="{% url 'exit' %}">Вихід</a></p>
                {% else %}
                    <a class="nav-link" href="{% url 'reg' %}">Зареєструватись</a>
                    <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <!--- Banner Hero section ------->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              {% block content %}
              {% endblock %}
            {% block login %}
            {% endblock %}
            <p class="promo-title">ПРИВІТ</p>
            <p class="join-title">Буду вдячний, якщо ти підтримаєш мене </p>
            <a href="https://send.monobank.ua/jar/2HF7AKq42C" class="link-play">
              <img src="{% static 'svg/play.svg' %}" alt="" class="play-btn">ПІДТРИМАТИ
            </a>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_email_campaign_qa8y.svg' %}" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="{% static 'images/ground@-min.png' %}" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="services">
      <div class="container text-center">
        <h3 class="title text-center">СЕРВІСИ</h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="{% static 'svg/undraw_website_setup_5hr2.svg' %}" class="service-img"   alt="">
            <h4>Landing Page Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/branding.svg' %}" class="service-img"   alt="">
            <h4>Online  Branding</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/ads.svg' %}" class="service-img"   alt="">
            <h4>Google Ads</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/undraw_Savings_dwkw.svg' %}" class="service-img"   alt="">
            <h4>PPC</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/social.svg' %}" class="service-img"   alt="">
            <h4>Social Media</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
          <img src="{% static 'svg/undraw_wireframing_nxyi.svg' %}" class="service-img"   alt="">
            <h4>SEO</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-primary"  name="button">Find Out More</button>
      </div>
    </section>
    <!--- About Section ------>
    <section id="about">
      <div class="container">
        <h3 class="title text-center">ПРО МЕНЕ</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Мене звати Макс і я програміст початківець. Що вивчаю?</p>
            <ul>
              <li>- Aiogram (Створення телеграмм ботiв)</li>
              <li>- Django (Ствоерння Backend сайтiв)</li>
              <li>- Flask (Створення Backend сайтiв) </li>
              <li>- MySql </li>
                <a href="https://github.com/Joen777">
                    <li>- GitHub </li>
                </a>
              <li>- Docker</li>
            </ul>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_mobile_marketing_iqbr.svg' %}" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>
    <!---  Testimonials Section  --->
        <section id="testimonials">
          <div class="container">
            <h3 class="text-center">КОМЕНТАРІ</h3>
          {% csrf_token %}
          <h6 class="text-center">
            <form method="POST" action="create/">
                <p>
                    <label>Введіть ім'я</label><br>
                    <input type="text" name="name" />
                </p>
                <p>
                    <label>Введіть текст</label><br>
                    <input type="text" name="tittle" />
                </p>
                {% csrf_token %}
                <input type="submit" value="Надіслати" >
            </form>
          </h6>
          {% for i in comment %}
            <div id="list-example" class="list-group" >
                <h6 class="text-center">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">{{ i.name }}</a>
                </h6>
            </div>
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <h6 class="text-center">
                        <a id="list-item-1">{{ i.tittle }}</a>
                    </h6>
                </div>
          {% endfor %}


        <div class="row offset-1">
                {{ i.tittle }}
            <p class="user-details"><b>{{ i.name }}</b>

          </div>
      </div>

    </section>
    <!-- Footer ------>
    <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-box">
              <img src="{% static 'images/webiz-logo.png' %}" alt="">
              <p>
              </p>
              <p></p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>Контакти</b></p>
                <p><i class="fa fa-map-marker"></i>Україна, Одеса</p>
                <p><i class="fa fa-phone"></i>+38(098) 020 47 88</p>
                <p><i class="fa fa-envelope-o"></i>сайт</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>Зв'язатися зі мною</b></p>
                <input type="email"class="form-control" placeholder="Your Email">
                <button type="button"class="btn btn-primary" name="button">НАДІСЛАТИ</button>

                <div id="social">
                    <p>Мої соціальні мережі</p>
                       <div class="social-icons">
                          <a href="#" class="svg-icons"><img src="{% static 'svg/facebook-logo.svg' %}" alt=""></a>
                          <a href="#" class="svg-icons"><img src="{% static 'svg/instagram_.svg' %}" alt=""></a>
                          <a href="#" class="svg-icons"><img src="{% static 'svg/twitter-logo.svg' %}" alt=""></a>
                          <a href="#" class="svg-icons"><img src="{% static 'svg/whatsapp.svg' %}" alt=""></a>
                       </div>
                </div>
            </div>
          </div>
          <br>
        </div>
    </section>
    <!--- Smooth Scroll js ---------->
    <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
    <script>
	    var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>
</html>
